<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4 class="title"><%= @clothe.name %></h4>
    </div>
    <div class="col-md-9"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <%= form_with model:@clothe, local:true do |f| %>
        <div class="img_field">
          <%= image_tag attachment_url(@clothe, :image, :fill, 270, 300, format: "jpg"), size:'270x300', fallback: asset_path("no_image.png") %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <%= form_with model:@clothe, local:true do |f| %>
        <div class="field">
          ・服の名前:
           <%= @clothe.name %>
        </div>
        <div class="field">
          ・購入した店の名前:
          <%= @clothe.store_name %>
        </div>
        <div class="field clothe-edit-size">
          ・サイズ:
          <%= @clothe.size.name %>
        </div>
        <div class="field">
          ・カテゴリー:
          <%= @clothe.category.name %>
        </div>
        <div class="field">
          ・タグ:
          <% @clothe.tag_maps.each do |tag| %>
            <%= tag.tag.name %>
          <% end %>
        </div>
        <div class="field">
          ・メモ<br>
          <%= @clothe.introduction %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= link_to "編集する", edit_clothe_path(@clothe), data: {"turbolinks" => false}, class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
    </div>
  </div>
</div>
