<% clothes.each do |clothe| %>
  <%# pp clothe %>
  <div class="card">
    <%= link_to clothe_path(clothe.id) do %>
      <%= attachment_image_tag clothe, :image,  fallback: "no_image" %><br>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= clothe.name%></h5>
      <p class="card-text">
        <% clothe.tags.each do |tag| %>
        <%#= link_to do %>
          <%= tag.name %><br>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
<%= paginate clothes, remote: true %>

