<div class="row">
  <!-- 左画面 -->
  <div class="col-sm-3 col-12" id="category_serch">
    <div class="container">
      <div id="category">
        <div class="title">カテゴリー</div>
        <% @categories.each do |category|%>
          <%= category.name %>
          (<%= link_to category.clothes.count, category_path(category) %>)<br>
        <% end %>
      </div>
      <div>
        <form class="form-inline my-2 my-lg-0">
    			<input name="serch_word" type="search" placeholder="タグ検索">
    	    <button "btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
    		</form>
  		  <% @tag_list.each do |list| %>
    		  <%= link_to list.name, categories_path(tag_id: list.id), class: 'tag_list' %>
  		  <% end %>
      </div>
    </div><!-- /container -->
  </div>
  <!-- 右画面  -->
  <div class="col-sm-9 col-12">
    <div class="container">
      <h2 class="title"><%= @category_title %></h2>
      <div class="card-columns" id="more">
        <%= render "category_view", clothes: @clothes %>
      </div>
    </div>
  </div>
</div>